/*  Oppskrift Footer  ===>  WRAPPER på alt -> FOOTER utenfor Wrapper -> ha en PUSH på slutten av WRAPPER */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
* {
}
.wrapper {
  min-height: 100%;
  margin-bottom: -180px;  

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
}

.push{
    height: 180px;
}
i {
  cursor:pointer;
}
i:hover {
color:rgb(100, 184, 218);
}
footer{
  background-color: #1f2c3a;
  color:white;
  min-height: 180px;
  z-index:10;
  color: #eef1f2;
}
.icons {
  font-size:25px;
  color: #dae6ea;
}
.copyright {
    display: flex;
    justify-content: center;
    font-size: 0.75rem !important;
    color:rgb(206, 211, 214);
    margin-top:10px;
    /* margin-bottom:55px; */
}

.footer-container {
    display: inline-flex;
    justify-content: space-evenly;
    width:100%;
    flex-wrap: wrap;
}
.link {
  margin:4px;
  margin-left:0px;
  color:rgb(209, 213, 214);
  font-size: 13.5px !important;
}

.footer-headline {
  font-size: 18px !important; 
  margin-bottom:5px;
  margin-top:10px !important;
}

footer a {
  text-decoration:none;
  margin-bottom:25px;
}
a:hover {
  cursor: pointer;
  color:rgb(229, 235, 238);
}
.column {
    margin:18px;
}

@media only screen and (max-width: 605px) {
  .footer-container {
      display: inline-flex;
      justify-content: start;
      width:100%;
      flex-wrap: wrap;
  }
}