:root {
	--primary-color: #51c6c2;
	--primary-color-hover: #beebe3;
	
	--background-dark: #1d212e;
	--background-grey: #2a3038;
	--background-light: #263047;
	--background-light-hover: #2f374e;

	--red:#d33333;
	--red-hover:#df4848;
	--green:#24ae64;
	--green-hover:#38c67a;

	--border-radius:8px;
	--stock-padding:13px;
  }
